*{
   font-family: Poppins, sans-serif;;
}
#container{
    width: 80%;
    margin-left: 150px;
}
h1{
    font-weight: 500;
    font-size: 29px;
    line-height: 39px;
    color: #333333;
}
.para{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #777777;
}
.para1{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #777777;
}